# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.env
.venv
env/
venv/

# ROS 2 build artifacts
build/
install/
log/

# OS specific
Thumbs.db
Desktop.ini
.DS_Store
*.swp
*.bak
*~

# Temporary zip files
*.zip
